html{
	align-content: center;
	font-family: 'Open Sans', arial;
	text-align: center
}

.img1{
	padding-top: 20px;
	padding-bottom: 10px;
}

.d1{
	font-size: 40px;
	padding-bottom: 10px;
	color: #555;

}

.d2{
	font-size: 20px;
	color: #555;
	padding-bottom: 20px;
}

.img2{
	margin-top: 15px;
	border-radius: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.b1{
	background-color: #f7f7f7;
	border: 1px #f7f7f7;
	height: 320px;
	width: 340px;
	box-shadow: 0 0px 0.5px 0.5px 1px #737373;
	margin: 0 auto;
}

.d4{
	padding-bottom: 5px;
	font-size: 15px;
}

#email{
	width: 250px;
	height: 40px;
	font-size: 17px;
	margin-bottom: 6px;
	box-shadow: 1px 1% #555;
	padding-left: 10px;
}

#botao{
	color: #FFFFFF;
	background-color: #4d90fe;
	width: 265px;
	height: 40px;
	border: #4d90fe;
	border-radius: 4px;
	margin-bottom: 6px;
}

.b3{
	color: #4d90fe;
	text-align: right;
	font-size: 13px;
	padding-right: 45px;
}

.b4{
	color: #4d90fe;
	text-decoration: none;
}

.b5{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16x;
}

.b6{
	color: #4d90fe;
	text-decoration: none;
	font-family: arial;
}

.b7{
	color: #737373;
}

.d5{
	padding-bottom: 250px;
}

.d6{
	text-align: left;	
}

.b8{
	color: #737373;
	text-decoration: none;
	font-size: 11px;
	padding-left: 10px;
}

.b9{
	color: #737373;
	text-decoration: none;
	font-size: 11px;
	padding-left: 30px;
}